/* Select and input styles */
select, input[type="month"], input[type="submit"] {
    width: calc(100% - 22px); /* Set width for dropdown, month input, and submit button */
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add round edges */
    text-align: left; /* Align text to the left */
    margin-top: 5px; /* Add margin on top of inputs */
}

/* Label styles */
label {
    font-family: 'Montserrat-Bold';
    color: #000000;
    margin-bottom: 5px; /* Adjust margin-bottom */
    align-self: flex-start; /* Align labels to the start */
    display: inline-block; /* Make labels inline */
    width: 100px; /* Set width for labels */
    vertical-align: top; /* Align labels to the top */
    margin-right: 10px; /* Add margin to the right */
}

/* Dropdown styles */
select {
    border: 1px solid #000; /* Add border */
    background-color: #fff; /* Set background color */
    font-family: 'Montserrat-Regular', sans-serif; /* Set font */
    font-size: 16px; /* Set font size */
    color: #000; /* Set text color */
    vertical-align: top; /* Align dropdown to the top */
}

/* Style for dropdown when hovered */
select:hover {
    border-color: #666; /* Change border color on hover */
}

/* Style for dropdown when focused */
select:focus {
    border-color: #e50019; /* Change border color when focused */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(229, 0, 25, 0.5); /* Add box shadow when focused */
}

/* Submit button */
input[type="submit"] {
    color: #fff;
    font-size: 18px;
    padding: 15px 35px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #e50019;
    font-family: 'Montserrat-Bold', sans-serif;
    transition: box-shadow 0.3s, background-color 0.3s;
    margin-top: 5px; /* Add margin on top */
    margin-left: 10px; /* Add margin to the left */
    cursor: pointer; /* Change cursor on hover */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Change background color on hover */
}

/* Style for the form container */
.form-container {
    padding: 20px; /* Add padding */
    max-width: 600px; /* Set maximum width for the form container */
    margin: 0 auto; /* Center the form container horizontally */
}
