/* Fonts */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

/* Header */
header {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header Container */
.header-container {
    display: flex;
    align-items: center; /* Vertically center the logo and text */
    padding: 10px 20px;
}

/* Logo */
.header-container img {
    max-width: 100px;
    height: auto;
    margin-right: 10px; /* Add right margin to create space between logo and text */
}

/* Heading */
.header-container h1 {
    font-family: 'Montserrat-Bold';
    margin-left: 10px; /* Add left margin to create space between logo and text */
}

/* Glow effect */
header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    pointer-events: none;
}

/* Navbar */
nav {
    font-family: 'Montserrat-Bold';
    background-color: #ffffff;
    padding: 10px;
    margin-left: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    color: #e50019;
}

body {
    background-image: url('../images/backgroundimg.png');
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Prevent background from scrolling with the content */
    height: 100vh; /* Set the body height to the viewport height */
    margin: 0%;
}


/* Header Image */
.port-image {
    position: relative;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0; 
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.port-image h2 {
    display: inline-block;
    padding: 5px 60px;
    font-size: 5vmax;
    font-family: "Montserrat-Bold", sans-serif;
    text-align: center;
    margin: auto;
    color: #fff;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
